.card {
    margin: 10px;
    height: 12em;
    width: 8em;
    display: flex;
    background-color: #FFEA00;
    transition: transform 0.3s ease;
    border-radius: 20px;
    border: #a19405 inset 5px;
    transform: scale(0);
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.pic {
    width: 8em;
    pointer-events: none;
}
/*
.card_on_hover {
    margin: 10px;
    height: 12em;
    width: 8em;
    display: flex;
    background-color: white;
    transition: transform 0.3s ease;
    transform: translateY(-40px);
}

 */
/*
.picked_card {
    margin: 10px;
    height: 12em;
    width: 8em;
    display: flex;
    background-color: white;
    transition: transform 0.5s ease;
    transform: translateY(-150%);
}
*/

.card_text {
    font-size: 12pt;
    width: 100%;
    text-align: center;
    top: 6em;
    font-family: 'Roboto Mono', monospace;
}

.card_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}