.notification-container, .notification-container-b {
    padding: 0 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: calc(5vh + 20px);
    right: 20px;
    max-width: fit-content;
}

.notification-container {
    background-color: #28A745;
}

.notification-container-b {
    background-color: #DC3545;
}

.notification-text {
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    color: white;
}

.notification-icon-container {
    padding-left: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: white;
}