.about-main-container {
    width: 85vw;
    margin: 0 auto;
}

.sub-container-about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: calc(100vh - 52px);
}

.leftside-container-about, .rightside-container-about {
    display: flex;
    flex-direction: column;
    width: 35vw;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.about-text {
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: whitesmoke;
    font-size: 1.5rem;
}

.about-name {
    text-align: center;
    font-size: 4rem;
    color: #ffd500;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.contact-span-headline {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #ffd500;
}

.contact-span {
    font-weight: lighter;
    color: white;
}

.logo-g, .logo {
    padding: 1em 0.5em;
    height: 2em;
}

.logo-g {
    filter: invert(100%);
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-container-v {
    width: 100%;
    display: flex;
    justify-content: start;
}

.tech-stack, .tech-stack-g {
    padding: 0 3px;
    width: 2rem;
}

.tech-stack-g {
    filter: grayscale(1);
}

.logos-block {
    display: flex;
    align-items: center;
}

.user-logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.user-logo, .user-logo-d {
    height: 30rem;
    width: 30rem;
}

.user-logo-d {
    filter: invert(100%);
}

.contact-vert {
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

@media screen and (max-width: 1280px) {
    .leftside-container-about, .rightside-container-about {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: 30px 0;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    .sub-container-about-us {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100vh - 52px);
    }
}

@media only screen and (max-width: 1024px) {
    .user-logo, .user-logo-d {
        height: 25rem;
        width: 25rem;
    }
}

@media screen and (max-width: 600px) {
    .user-logo, .user-logo-d {
        height: 20rem;
        width: 20rem;
    }
    .about-text {
        display: flex;
        justify-content: space-around;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        color: whitesmoke;
        font-size: 1rem;
    }
}