.container {
    width: 80vw;
    margin: 0 auto;
}

.under-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    justify-content: space-around;
    align-items: center;
}

.lobby-list {
    background-color: #1A1A1A;
    border-radius: 15px;
    padding: 30px;
}

.lobby-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 1rem;
}

.lobby-item::marker {
    content: "";
}

